.circle {
    width: 53px;
    height: 53px;
    margin-right: 16px;
    background-color: turquoise;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
