.payment {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;

    h3 {
        font-weight: 700;
        font-size: 24px;
        color: white;
    }

    span {
        font-weight: 500;
        font-size: 24px;
        color: var(--violet_d7);
    }
}

