.pink {
    background: linear-gradient(117.04deg, var(--pink) 1.24%, var(--shadow_f9) 105.67%);
    box-shadow: 0px 0px 41px var(--violetRGB_dark);
    border-radius: 17px;
    font-weight: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    transition: opacity 1s;
    margin-top: 34px;
    
    &:hover {
        opacity: 0.8;
    }
}